<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <!--<img src="assets/img/muki-FamilyPlus-578x384.jpg"> -->
</div>

<br>

  <div class="row">
    <div class="btn-group btn-group-lg">
      <div class="col-md-6">
        <button type="button" (click)="MenueAnsicht(1)" class="btn btn-primary">1 Erwachsener</button>
      </div>
      <div class="col-md-6">
        <button type="button" (click)="MenueAnsicht(2)" class="btn btn-primary">2 Erwachsener</button>
      </div>
    </div>
  </div>

<br>
<div class="card-deck">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/muki-FamilyPlus-578x384.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/img/muki-FamilyPlus-578x384.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/muki-FamilyPlus-578x384.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/img/muki-FamilyPlus-578x384.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

